.about {
    @include section();
    @media ($desktop) {
        padding-bottom: 5rem;
    }
    
    &__wrapper {
        @extend %section-wrapper;
    }

    &__title {
        @include h2($_text-align: left);
    }
    &__desc {
        @include p1();
        max-width: 64.9rem;
        margin-bottom: 1.6rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        @include section-img();
        background-color: $primaryColor;
        height: 24.5rem;
        @media ($tablet) {
            margin-left: 0;
            width: 43rem;
        }

        @media ($desktop) {
            flex-shrink: 0;
        }
    }
}