.footer {
    @include section($_pb: 4.9rem);
    background-color: $primaryColor;

    &__title {
        @include h2($_color: $white);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3rem;

        @media ($tablet) {
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            column-gap: calc(100% * 4.5 / 118);
        }
    }

    &__wrapper-grid {
        display: grid;
        row-gap: 3rem;
        justify-items: center;

        @media ($tablet) {
            grid-template-columns: minmax(30rem, 50rem) 24rem;
            column-gap: calc(100% * 4.5 / 118);
            justify-content: center;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: 2.1rem;
        width: 100%;
        max-width: 50rem;

    }

    &__input {
        @extend %input;
    }

    &__textarea {
        @extend %textarea;
    }

    &__btn {
        width: 14rem;
        align-self: center;
    }

}