.prices {
    @include section($_pt: 4.5rem, $_pb: 5.1rem);

    &__title {
        @include h2();
        margin-bottom: 2.4rem !important;

    }

    &__wrapper {
        display: grid;
        row-gap: 4.5rem;
        // column-gap: 4.5rem;
        column-gap: calc(100% * 4.5 / 118);
        grid-template-columns: repeat(auto-fill, 30rem);
        align-items: end;
        justify-items: center;
        justify-content: center;
    }

/* через FLEX эти три карточки получаются разместить проще чем через GRID и результат красивее (симметрично) */
    &__wrapper-flex {
        display: flex;
        row-gap: 4.5rem;
        column-gap: calc(100% * 4.5 / 118);
        justify-content: center;
        align-items: flex-end;

        flex-wrap: wrap;
    }
}