.reviews {
    @include section ($_pt: 4.3rem, $_pb: 5.1rem);
    background-color: $grey3;

    &__title {
        @include h2();
        margin-bottom: 2.7rem!important;    
    }
    &__wrapper {
        display: grid;
        row-gap: 3.5rem;

        @media ($tablet) {
            grid-template-columns: 1fr 1fr;
            column-gap: 2.2rem;
            row-gap: 2.4rem;
        }
        @media ($desktop) {
            column-gap: 3.2rem;
        }
    }
}