.stage {
    background-color: $primaryColor;
    @include section($_pt: 3.8rem, $_pb: 4.5rem);

    &__wrapper {
        @extend %section-wrapper;
    }

    &__img {
        @include section-img();
        background-color: $white;
        height: 21.4rem;

        @media ($tablet) {
            margin-left: 0;
            width: 36.9rem;
        }

        @media ($desktop) {
            width: 46.9rem;
            flex-shrink: 0;
        }
    }

    &__title {
        @include h1();
    }

    &__features {
        @include lead();
        list-style-type: none;

    }

    &__feature {
        // position: relative;

        &:before {
            font-family: 'fontawesome';
            content: '\f00c';
            margin-right: 1rem;
            // position: absolute;
        }
    }
}