.price {
    padding: 1.3rem 0.2rem 2rem;
    // padding: 1.4rem 0.2rem 2.1rem;
    width: 30rem;
    background-color: $secondaryColor;
    border-radius: 0.4rem;

    &__title {
        @include h3($white);
        text-align: center;
        margin-bottom: 1.1rem;
    }

    &__value {
        background-color: $white;
        padding: 1.8rem;
        font-size: 4rem;
        line-height: 0.87;
        text-align: center;
        color: $secondaryColor;

        &::before {
            content: '$';
        }
    }

    &__features {
        @include p2($white);
        font-style: normal;
        line-height: 1.7; /* подбираем через инспектор браузера для самой длинной карточки */
        margin-top: 1.6rem;
        margin-left: 3.3rem;
        margin-bottom: 1.3rem;

        padding-right: 2rem;
        /* чтобы длинные строки в списке не походили к краям карточки */
    }

    &__button {
        display: block !important;
        width: 100%;
        max-width: 26rem;
        margin: 0 auto;
    }
}

.btn {
    @extend %btn;
}