.screenshot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    @media ($tablet) {
        flex-direction: row;
    }

    &__img {
        // width: 100%;
        width: 75vw;
        height: 18rem;
        flex-shrink: 0;
        background-color: $primaryColor;

        object-fit: cover;
        object-position: center;

        @media ($tablet) {
            height: 15rem;
            width: 20rem;
        }

        @media ($desktop) {
            width: 20rem;
        }
    }

    &__title {
        @include h3();
        line-height: 0.9;
        margin-bottom: 1.0rem;
        text-align: center;

        @media ($tablet) {
            text-align: left;
        }
    }

    &__text {
        @include p1();

        @media ($desktop) {
            max-width: 36rem;
        }
    }

}